# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Streamlit config (optional if you have secrets)
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# We removed "data/" and "users/" from being ignored 
# so that your current users and data will be uploaded to Git 
# and will show up online perfectly!